body {
  display: flex;
  width: 100%;
  flex-direction: column;
  // @include fluid-text(30, 16);

  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}
.content {
  flex-grow: 1;
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
a {
  text-decoration: none;
  color: inherit;
}

//titles
// h1,
// h2,
// h3,
// h4 {
//   font-weight: 500;
// }
// h1,
// .h1 {
//   @include fluid-text(62, 43);
// }
// h2,
// .h2 {
//   @include fluid-text(40, 36);
// }
// h3,
// .h3 {
//   @include fluid-text(30, 26);
// }
// h4,
// .h4 {
//   @include fluid-text(20, 18);
// }

.accent-text {
  font-family: var(--font-family-base);
  font-weight: 700;
  letter-spacing: -0.06em;
}

.page-heading {
  @include fluid-text(115, 22);

  font-family: var(--font-family-base-accent-light);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.53;
  white-space: nowrap;

  &--accent {
    letter-spacing: -0.04em;
  }
}

.decor-image {
  width: clamp(44px, 4.58vw, 88px);
  height: clamp(55px, 5.7vw, 111px);
}

.round-icon {
  &-wrapper {
    @include square(clamp(44px, 2.8vw, 54px));
    @include flex-center(true);

    background: var(--color-grad-2);
    border-radius: 50%;
  }
}
