@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin reset-link {
  color: inherit;
  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin flex-center($isInLine: false) {
  @if $isInLine {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin decor-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
@mixin decor-circle-big($isBig: false) {
  @if $isBig {
    width: clamp(100px, 13vw, 250px);
    height: clamp(100px, 13vw, 250px);
  } @else {
    width: clamp(75px, 10.42vw, 200px);
    height: clamp(75px, 10.42vw, 200px);
  }

  position: absolute;
  content: "";
  border-radius: 50%;
  background: var(--color-grad-5);
  z-index: -1;
}
@mixin decor-circle-small($isSmall: false) {
  @if $isSmall {
    width: clamp(25px, 3.1vw, 60px);
    height: clamp(25px, 3.1vw, 60px);
  } @else {
    width: clamp(40px, 5.3vw, 102px);
    height: clamp(40px, 5.3vw, 102px);
  }

  position: absolute;
  content: "";
  border-radius: 50%;
  background: var(--color-grad-5);
  z-index: -1;
}

@mixin decor-position-center {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
@mixin decor-position-top-right {
  top: 25px;
  right: 25px;
}
@mixin decor-position-top-left {
  top: 25px;
  left: 25px;
}
@mixin decor-position-bottom-right {
  bottom: 25px;
  right: 25px;
}

@mixin decor-position-bottom-left {
  bottom: 25px;
  left: 25px;
}
