.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile-media {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-media-above {
    display: none !important;
  }
}
