.block-text {
  padding-block: var(--indent);
  &__title {
    display: inline-flex;
    font-weight: 700;
    margin-block: 0 var(--indent);

    &::after {
      top: -50px;
    }
  }

  &__subtitle {
    position: relative;

    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: clamp(14px, 1.3vw, 25px);

    margin-block: 0 var(--indentSmall);
    font-weight: 700;

    &::before {
      @include square(clamp(44px, 2.8vw, 54px));

      content: "";
      flex-shrink: 0;
      align-items: center;
      background: var(--color-grad-2);
      border-radius: 50%;
      left: 0;
    }
  }

  &__text {
    padding-inline: var(--indentSmall);
    &:not(:last-child) {
      margin-block: 0 var(--indent);
    }
  }

  &__decor-devider {
    height: clamp(12.5px, 1.25vw, 25px);
    margin-block: 0 var(--indent);
    border-radius: var(--border-radius-small);
  }

  &__table-box {
    background: var(--color-grad-1);
    margin-inline: calc(var(--container-padding-x) * -1);
    padding-inline: var(--container-padding-x);
    padding-block: var(--indent);
    margin-block: var(--indent);
    border-radius: var(--border-radius);
  }

  &__table {
    @include fluid-text(24, 9);
    margin-block: var(--indent);

    thead {
      font-weight: 500;
    }

    th {
      padding: 0 clamp(5px, 1.04vw, 20px) clamp(5px, 1.04vw, 20px);
    }

    td {
      vertical-align: text-top;
      padding: clamp(2px, 1.04vw, 20px);
    }
    @include mobile-s-media {
      margin-inline: calc(var(--container-padding-x) * -1);
    }
  }

  ul,
  ol {
    margin-block: 0 var(--indent);
    padding-inline: var(--indentBig);

    li:not(:last-child) {
      margin-block: 0 var(--indentSmall);
    }
  }
}
// Styles for decor
.block-text {
  position: relative;

  // &::after {
  //   @include decor-circle-big;
  //   @include decor-position-bottom-right;
  // }
  // &::before {
  //   @include decor-circle-big;
  //   @include decor-position-bottom-right;
  // }
  &__title {
    position: relative;
    &::before {
      @include decor-circle-big(true);
      @include decor-position-center;

      translate: -100% -20px;
    }
  }

  &__text {
    p {
      position: relative;
    }

    & p:nth-child(4n) {
      position: relative;
      &::after {
        @include decor-circle-small;
        @include decor-position-top-left;

        translate: 170px -50%;
      }
    }
    & p:nth-child(5n) {
      position: relative;
      &::before {
        @include decor-circle-big;
        @include decor-position-center;
      }
    }
  }

  &__table {
    thead {
      position: relative;
      &::before {
        @include decor-circle-big(true);
        @include decor-position-top-right;
      }
      &::after {
        @include decor-circle-big;
        @include decor-position-top-left;
      }
    }
    tbody {
      position: relative;
      &::before {
        @include decor-circle-small;
        @include decor-position-bottom-left;
      }
      &::after {
        @include decor-circle-big(true);
        @include decor-position-center;
      }
    }
    th {
    }
    td {
    }
  }

  &__table-box {
    position: relative;
    z-index: -1;

    &::before {
      @include decor-circle-color-big(true);
      @include decor-position-top-left;
    }
    &::after {
      @include decor-circle-big;
      @include decor-position-bottom-right;
    }
  }
  ul,
  ol {
    li {
      position: relative;
    }
    li:nth-child(4n) {
      &::before {
        @include decor-circle-small(true);
        @include decor-position-bottom-left;
      }
    }
    li:nth-child(5n) {
      &::before {
        @include decor-circle-small;
        @include decor-position-top-left;

        translate: 140px -50%;
      }
    }
    // li:nth-child(2) {
    //   &::after {
    //     @include decor-circle-big(true);
    //     @include decor-position-bottom-right;

    //     translate: 50% 40px;
    //   }
    // }
  }
  ul:not(:last-child) {
    li:nth-child(8n + 1) {
      &::after {
        @include decor-circle-small;
        @include decor-position-center;

        translate: -100% 0;
      }
    }
    li:nth-child(8n + 4) {
      &::after {
        @include decor-circle-big;
        @include decor-position-center;

        translate: 100% 0;
      }
    }
    li:nth-child(4n + 3) {
      &::after {
        @include decor-circle-small(true);
        @include decor-position-bottom-right;

        translate: -50% 50;
      }
    }
    // li:nth-child(2) {
    //   &::after {
    //     @include decor-circle-big(true);
    //     @include decor-position-top-left;

    //     translate: 50% 40px;
    //   }
    // }
  }
}
