.footer {
  position: relative;
  outline: 4px solid red;
  min-height: 100px;

  &::after {
    @include abs-center;

    content: "FOOTER";
    font-size: 50px;
    font-weight: 700;
    color: red;
  }
}
