.logo {
  max-width: clamp(320px, 48.5vw, 932px);
  width: 100%;
  background: var(--color-grad-1);
  padding: clamp(15px, 2.2vw, 40px) clamp(10px, 2.6vw, 50px);
  border-radius: var(--border-radius-large);
  white-space: nowrap;

  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(10px, 3.2vw, 62px);

  @include hover {
    color: var(--color-light);
    filter: brightness(90%);
  }
  @include active {
    .logo__image {
      scale: 0.9;
    }
  }
  &__image {
    @include square(clamp(44px, 5.2vw, 100px));
    transition-duration: var(--transition-duration);
  }
  &__text {
    @include fluid-text(44, 16);

    line-height: 1.17;
    letter-spacing: -0.02em;
  }
}
