.menu {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  height: var(--menuHeight);
  box-shadow: var(--box-shadow-2);
  background-color: var(--color-light-opacity);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark-opacity);
    filter: blur(10px);
    z-index: -1;
  }
  &__list {
    @include flex-center;

    column-gap: clamp(36px, 14vw, 360px);
    width: 100vw;
    height: inherit;
    @include mobile-media {
      column-gap: 7vw;

      & .menu__item:first-child {
        margin-right: 8vw;
      }
      & .menu__item:last-child {
        margin-left: 8vw;
      }
    }
  }

  &__item {
    display: inline-flex;
  }

  &__link,
  &__button {
    @include hover {
      color: var(--color-light);
      filter: brightness(120%);
    }
    @include active {
      scale: 1.1;
    }
  }

  &__link {
    @include flex-center(true);

    width: 71px;
    aspect-ratio: 1;
    border-radius: 50%;

    &-background {
      border-radius: 50%;
      flex-shrink: 0;
      width: clamp(44px, 9.25vw, 71px) !important;
      height: clamp(44px, 9.25vw, 71px) !important;
    }
  }

  &__button {
    @include reset-button;

    width: 44px;
    height: 28px;

    @include mobile-media {
      width: 28px;
      height: 19px;
    }

    &-icon {
      transition-duration: var(--transition-duration);

      @include mobile-media {
        width: 28px;
        height: 28px;
      }
    }
  }
}
