.originality {
  &__inner {
    padding-block: clamp(25px, 3.8vw, 75px) clamp(25px, 4vw, 82px);
    @include mobile-media {
      padding-inline: 10px;
    }
  }
  &__table {
    max-width: 1455px;
    width: 100%;
    margin-inline: auto;

    td,
    th {
      @media (max-width: 1000px) {
        height: 76px;
        text-align: center;
      }
      @include mobile-s-media {
        font-size: 12px;
        height: 60px;
      }
    }
    &-title {
      font-weight: 500;
    }

    &-row {
      & td:first-child {
        @include mobile-s-media {
          font-size: 12px;
        }
      }
      &--head {
        th {
          @include mobile-s-media {
            font-size: 16px;
          }
        }
      }
    }
  }
  &__decor-background {
    height: clamp(25px, 2.81vw, 54px);
  }
}
